<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i < columns.length; i++) {%>
          <section class="column card" data-columnid="<%= columns[i]._id %>">
            <section class="column-header d-flex justify-content-between align-items-center">
              <p class="card-title">              
                <%= columns[i].title %>
              </p>
              <span class="material-symbols-outlined options column-options">
                more_horiz
                </span>
                <div class="dropdown-content">
                  <form
                        action="/kanban/deleteColumn/<%= columns[i]._id %>?_method=DELETE"
                        method="POST"
                      >
                        <button class="" type="submit">Delete</button>
                      </form>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>  
            </section>
            
            
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalCreateCard"
              data-bs-columnid="<%= columns[i]._id %>">
              Add a card
            </button>
            <ul class="row list-unstyled">
              <% for(var j=0; j < columns[i].cards.length; j++) {%>
                <div class="card draggable bg-c-blue" draggable="true" data-cardid="<%= columns[i].cards[j]._id %>">
                  <div class="card-title d-flex justify-content-end">
                      <span class="material-symbols-outlined card-options">
                        more_horiz
                      </span>
                    </div>          
                    <div class="card-body">
                      <h5 class="card-title text-white">
                        <%= columns[i].cards[j].title %>
                      </h5>
                      <div class="row">
                        <h6 class="card-subtitle mb-2 text-muted">Type: <%= columns[i].cards[j].type %></h6>
                        <p class="card-text"><%= columns[i].cards[j].notes %></p>
                      </div>
                      <!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                      </div> -->
                      
                    </div>
                  
                </div>
                <% } %>
            </ul>
          </section>
          <% } %>
      </ul>
    </div>
  </div>
  <!--Add button-->
  <!-- <a href="#" class="float">
    <span class="my-float material-symbols-outlined">
        add
        </span>
    </a> -->

  <button type="button" style="border-width: 0;" class="floating-container" data-bs-toggle="modal"
    data-bs-target="#modalCreateColumn">
    <div class="floating-button material-icons">dashboard</div>
  </button>



  <!--Modal: Create Column-->
  <div class="modal" tabindex="-1" id="modalCreateColumn">
    <form action="/kanban/createColumn" method='POST'>

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Column</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" placeholder="Enter Column Title" name='title'>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Update Column" class="btn btn-primary">
          </div>
        </div>
      </div>

    </form>
  </div>

  <!--Modal: Create Card-->
  <div class="modal" tabindex="-1" id="modalCreateCard">
    <form id="formCreateCard" action="/kanban/createCard" method='POST'>

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Card</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" placeholder="Enter Column Title" name='title'>


              <label for="cardPriority" class="mt-2">Choose card priority</label>
              <select name="priority" class="form-select" id="cardPriority">
                <option value=false>Not Urgent</option>
                <option value=true>Urgent</option>
              </select>

              <label for="cardDifficulty" class="mt-2">Choose card Difficulty</label>
              <select name="difficulty" class="form-select" id="cardDifficulty">
                <option value="">--Please choose a priority--</option>
                <option value=1>Trivial</option>
                <option value=3>Easy</option>
                <option value=5>Medium</option>
                <option value=8>Hard</option>
                <option value=13>Epic</option>
              </select>

              <label for="dueDate" class="mt-2">Due Date</label>
              <input type="date" id="cardDueDate" name="dueDate" class="form-control">
            </div>

            <label for="notes" class="mt-2">Notes:</label>
            <textarea id="cardNotes" name="notes" class="form-control" rows="3">

            </textarea>
            <div class="form-check ">
              <input class="form-check-input" type="checkbox" value="" id="cardRepeat" name="name">
              <label class="form-check-label" for="cardRepeat">
                Repeat
              </label>
            </div>

            <!-- <label for="todos">Todos</label>
            <section class="card" id="modalCardTodos">
              <input type="text" class="form-control" placeholder="Enter Column Title" name='todos[]'>
            </section> -->


            <input type="hidden" id="cardColumnID" name="columnID">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Update Column" class="btn btn-primary">
          </div>
        </div>
      </div>

    </form>
  </div>
  <!-- Kanaban only scripts   -->
  <script src="/js/kanban.js"></script>
  <%- include('partials/footer') -%>